@keyframes pulsate {
	0% {
		-ms-transform: scale(0.5);
		-moz-transform: scale(0.5);
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-ms-transform: scale(2);
		-moz-transform: scale(2);
		-webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0;
	}
}
.leaflet-div-icon {
	background-color: transparent;
	border:0px;
}
.leaflet-container .mymarker {
	width: 26px;
	height: 26px;
	position: relative;
	top: 0;
	left: 0;
	background: #F09B0C;
	border: 2px solid #FFF;
	border-radius: 50%;
	z-index: 1000;
	cursor: pointer;
	box-sizing: border-box;
}
.leaflet-container .mymarker .pin {

}
.leaflet-container .mymarker .pin-effect {
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	background: #F09B0C;
	border-radius: 50%;
	opacity: 0;
	animation: pulsate 1s ease-out infinite;
	left: 0;
	top: 0;
}
.leaflet-container .pointer {
	cursor: pointer;
}
.leaflet-bottom.leaflet-right {
	display: none !important;
}
.leaflet-control-layers label {
	margin-bottom: 5px;
	cursor: pointer;
}
.leaflet-control-layers label:last-child {
	margin-bottom: 0px;
}
.leaflet-control-layers-expanded {
	padding: 8px 10px;
}

.leaflet-control-layers input[type="checkbox"],
.leaflet-control-layers input[type="radio"] {
	display: none;
}
.leaflet-control-layers input[type="checkbox"]:disabled + *,
.leaflet-control-layers input[type="radio"]:disabled + * {
	cursor: default;
	pointer-events: none;
	color: #888;
}
.leaflet-control-layers input[type="radio"] + *,
.leaflet-control-layers input[type="checkbox"] + * {
	cursor: pointer;
	position: relative;
	padding-left: 20px;
}
.leaflet-control-layers input[type="radio"] + *::before,
.leaflet-control-layers input[type="checkbox"] + *::before {
	border: 1px solid #000;
}
.leaflet-control-layers input[type="radio"] + *::before,
.leaflet-control-layers input[type="radio"] + *::after,
.leaflet-control-layers input[type="checkbox"] + *::before,
.leaflet-control-layers input[type="checkbox"] + *::after {
	content: "";
	position: absolute;
	display: block;
	width: 14px;
    height: 14px;
    top: 50%;
    left: 0;
	transform: translateY(-50%);
	transition: all .15s ease-in-out;
}

/* CHECKBOXES ----------------------------------------------------------------*/
.leaflet-control-layers input[type="checkbox"] + *::before {
	background-color: #fff;
}
.leaflet-control-layers input[type="checkbox"] + *::after {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-check fa-w-16 fa-2x'%3e%3cpath fill='%239D0A6D' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' class=''%3e%3c/path%3e%3c/svg%3e");
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
	opacity: 0;
}
/* checked state */
.leaflet-control-layers input[type="checkbox"]:checked + *::before,
.leaflet-control-layers input[type="checkbox"]:focus:not(:checked) + *::before,
.leaflet-control-layers input[type="checkbox"]:not(:disabled):active + *::before {
    background-color: #fff;
}
.leaflet-control-layers input[type="checkbox"]:checked + *::before {
   border-color: #9D0A6D;
}
.leaflet-control-layers input[type="checkbox"]:checked + *::after {
   opacity: 1;
}
/* disabled */
.leaflet-control-layers input[type="checkbox"]:disabled + *::before {
	border-color: #777;
}
.leaflet-control-layers input[type="checkbox"]:checked:disabled + *::before {
	border-color: rgba(157, 10, 109, 0.5);
}
.leaflet-control-layers input[type="checkbox"]:checked:disabled + *::after {
    opacity: 0.5;
}

/* RADIO BUTTONS ------------------------------------------------------------ */
.leaflet-control-layers input[type="radio"] + *::before,
.leaflet-control-layers input[type="radio"] + *::after {
	border-radius: 50%;
	background-color: #fff;
}
.leaflet-control-layers input[type="radio"] + *::after {
	opacity: 0;
	width: 7px;
	height: 7px;
	border: 0px;
	transform: translate(50%, -50%);
	transition: opacity .15s ease-in-out;
	background-color: rgba(255, 255, 255, 1);
}
.leaflet-control-layers input[type="radio"]:checked + *::before,
.leaflet-control-layers input[type="radio"]:focus:not(:checked) + *::before,
.leaflet-control-layers input[type="radio"]:not(:disabled):active + *::before {
    color: #fff;
	background-color: #9D0A6D;
	border-color: transparent;
}
.leaflet-control-layers input[type="radio"]:checked + *::after {
	opacity: 1;
}
/* disabled */
.leaflet-control-layers input[type="radio"]:disabled + *::before {
	border-color: #777;
}
.leaflet-control-layers input[type="radio"]:checked:disabled + *::before {
	background-color: rgba(157, 10, 109, 0.5);
	border-color: transparent;
}
